/* page */

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Latin Modern Roman";
    src: url("../fonts/lmroman9-regular.otf");
}

@font-face {
    font-family: "Latin Modern Roman";
    font-weight: 300;
    src: url("../fonts/lmroman17-regular.otf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 20px;
    color: #111;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

a:hover, a:focus {
    text-decoration-thickness: auto;
}

.research-font {
    font-family: "Latin Modern Roman", serif;
}

@media (max-width: 767.98px) {
    html {
        font-size: 14px;
    }
}

/* typo */


/* components */
body {
    position: relative;
}

.full-page {
    height: 100%;
    width: calc(100% - 22em);
    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}


.title {
    align-self: flex-start;
}

.title h1 {
    font-size: 4em;
    margin: 0;
}

.title p {
    margin: 0;
    font-size: 1.5em;
}


.description {
    display: inline-block;
    padding: 3em;
    border-radius: 2em;
}

.description p {
    display: inline-block;
    margin: 0;

    font-weight: 300;
    font-size: 2em;
}

.footer {
    margin-top: 1em;
}

.footer p {
    margin: 0;
}



.sidebar {
    position: fixed;
    width: 22em;
    right: 0;
    padding: 1em;
    box-sizing: border-box;
}


.profile img {
    max-width: 100%;
}

.profile h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

.time-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: -3em;
}

.time-table td {
    padding: 0.5em 0;
}

.time-table td:first-child {
    min-width: 3em;
    max-width: 3em;
    color: #555;
}

.education, .experience {
    margin-top: 2em;
}


/* colors */
.background-green {
    background-color: #e0ece4;
}
.background-red {
    background-color: #fff4f2;
}

.background-green a,
.background-green a:hover,
.background-green a:focus {
    color: #46b36a;
}

.background-red a,
.background-red a:hover,
.background-red a:focus {
    color: #B25C4D;
}
