<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/styles.css?v=18">
    <base href="/" target="_blank">

    <title>Florian Moser - Development & Research</title>
    <meta name="description" content="Development and Research by Florian Moser">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Florian Moser",
            "url": "https://famoser.ch",
            "jobTitle": "Developer & Scientist",
            "alumniOf": "ETH Zürich",
            "image": "https://famoser.ch/images/Florian_Moser.jpg",
            "sameAs": [
                "https://linkedin.com/in/famoser",
                "https://github.com/famoser",
                "https://gitlab.com/famoser",
                "https://stackoverflow.com/users/2259391/florian-moser"
            ]
        }
    </script>
</head>
